@model List<Technician>
@{
    ViewBag.Title = "Manage Technician";
}
<h1>@ViewBag.Title</h1>

    @if (TempData["Success"] != null)
    {
        <h3 class="alert text-white alert-success" id="successMessage">@TempData["success"]</h3>
    }
<a asp-controller="Technician" asp-action="AddTechnician">Add New Technician</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var technician in Model)
        {
            <tr>
                <td>@technician.TechnicianName</td>
                <td>@technician.TechnicianEmail</td>
                <td>@technician.TechnicianPhone</td>
                <td>
                    <a asp-controller="Technician" asp-action="EditTechnician"
                       asp-route-id="@technician.TechnicianId">Edit</a>
                    <a asp-controller="Technician" asp-action="DeleteTechnician"
                       asp-route-id="@technician.TechnicianId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>