@model List<Product>
@{
    ViewBag.Title = "Manage Product";
}
<h1>@ViewBag.Title</h1>
@if (TempData["Success"] != null)
{
    <h3 class="alert text-white alert-success" id="successMessage">@TempData["success"]</h3>
}
<a asp-controller="Product" asp-action="AddProduct">Add New Product</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Release Date</th>
            <th>Yearly Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductCode</td>
                <td>@product.ProductName</td>
                <td>@product.ProductReleaseDate</td>
                <td>@product.ProductYearlyPrice</td>
                <td>
                    <a asp-controller="Product" asp-action="EditProduct"
                       asp-route-id="@product.ProductId">Edit</a>
                    <a asp-controller="Product" asp-action="DeleteProduct"
                       asp-route-id="@product.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>