@model Incident
@{ string title = "Edit Incident"; }
<h2>@title</h2>

<form asp-action="EditIncident" method="post">
    <div asp-validation-summary="All" text-danger></div>

    <p asp-for="CustomerId"></p>

    <div class="form-group">
        <label asp-for="TechnicianId">Technician: @Model.TechnicianId</label>
        <input asp-for="TechnicianId" class="form-control" hidden>
    </div>

    <div class="form-group">
        <label asp-for="CustomerId">Customer: @Model.CustomerId</label>
        <input asp-for="CustomerId" class="form-control" hidden>
    </div>

    <div class="form-group">
        <label asp-for="ProductId">Product: @Model.ProductId</label>
        <input asp-for="ProductId" class="form-control" hidden>
    </div>

    <div class="form-group">
        <label asp-for="Title">Title: @Model.Title</label>
        <input asp-for="Title" class="form-control" hidden>
    </div>

    <div class="form-group">
        <label asp-for="DateOpened">Date Opened: @Model.DateOpened</label>
        <input asp-for="DateOpened" class="form-control" hidden>
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="DateClosed">Date Closed</label>
        <input asp-for="DateClosed" class="form-control">
    </div>

    <input type="hidden" asp-for="IncidentId" />

    <button type="submit" class="btn btn-primary">Edit</button>
    <a asp-controller="Incident" asp-action="ManageIncident" class="btn btn-primary">Cancel</a>
</form>