@model List<Incident>
@{ ViewBag.Title = "Manage Incident"; }
<h1>@ViewBag.Title</h1>
<a asp-controller="Incident" asp-action="AddIncident">Add New Incident</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Date Opened</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var incident in Model)
        {
<tr>
            <td>@incident.Title</td>
            <td>@incident.DateOpened</td>
            <td>
        <a asp-controller="Incident" asp-action="EditIncident"
           asp-route-id="@incident.IncidentId">Edit</a>
        <a asp-controller="Incident" asp-action="DeleteIncident"
           asp-route-id="@incident.IncidentId">Delete</a>
    </td>
</tr>}
    </tbody>
</table>
