@model List<Customer>
@{
    ViewBag.Title = "Manage Customer";
}
<h1>@ViewBag.Title</h1>
<a asp-controller="Customer" asp-action="AddCustomer">Add New Customer</a>
@if(TempData["Success"] != null)
{
    <h3 class="alert text-white alert-success" id="successMessage">@TempData["Success"]</h3>
}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State/Province</th>
            <th>PostalCode</th>
            <th>Country</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
         {
            <tr>
                <td>@customer.CustomerFirstName</td>
                <td>@customer.CustomerLastName</td>
                <td>@customer.CustomerAddress</td>
                <td>@customer.CustomerCity</td>
                <td>@customer.CustomerState</td>
                <td>@customer.CustomerPostalCode</td>
                <td>@customer.Country.CountryName</td>
                <td>@customer.CustomerEmail</td>
                <td>@customer.CustomerPhone</td>
                <td>
                    <a asp-controller="Customer" asp-action="EditCustomer"
                       asp-route-id="@customer.CustomerId">Edit</a>
                    <a asp-controller="Customer" asp-action="DeleteCustomer"
                       asp-route-id="@customer.CustomerId">Delete</a>
                </td>
            </tr>
         }
    </tbody>
</table>